

body{
    background-color
}
.sun{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.moon{
    height: 200px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
